<!-- <li class="nav-item dropdown nav-user-menu" dropdown>
  <a href="javascript:;" class="nav-link" dropdownToggle>
    <img
      class="user-image img-circle elevation-2"
      src="assets/img/user.png"
      alt="User Image"
    />
  </a>
  <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
    <a class="dropdown-item" [routerLink]="['update-password']">
      <i class="fas fa-user-edit"></i> {{ "UpdatePassword" | localize }}
    </a>
    <a class="dropdown-item" href="javascript:;" (click)="logout()">
      <i class="fas fa-sign-out-alt"></i> {{ "Logout" | localize }}
    </a>
  </div>
</li> -->

<div class="nav-item dropdown nav-user-menu" dropdown>
  <div class="profile-user-info">
    <span class="profile-user-name">{{ username }}</span>
    <!-- <span class="profile-user-name">Admin</span> -->
  </div>
  <a href="javascript:;" class="nav-link nav-user-link" dropdownToggle>
    <img
      class="user-image img-circle elevation-2"
      src="assets/svg/Ellipse 10.svg"
      alt="User Image"
    />
  </a>
  <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
    <a class="dropdown-item" [routerLink]="['update-password']">
      <i class="fas fa-user-edit"></i>
      <span class="dropdown-title">{{ "UpdatePassword" | localize }}</span>
    </a>
    <a class="dropdown-item" href="javascript:;" (click)="logout()">
      <i class="fas fa-sign-out-alt"></i>
      <span class="dropdown-title">{{ "Logout" | localize }}</span>
    </a>
  </div>
</div>
