<p-toolbar class="col-lg-12 col-md-12 col-sm-12">
  <ng-template pTemplate="left">
    <h3>Purchase Invoice List</h3>
  </ng-template>
  <ng-template pTemplate="right">
    <div class="gap-4 flex">
      <span class="block md:mt-0 p-input-icon-left">
        <i class="pi pi-search"></i>
        <input
          pInputText
          type="text"
          (input)="onGlobalFilter(policyTable, $event)"
          placeholder="Search..."
          style="height: 40px; cursor: pointer"
          (keydown.enter)="onEnter($event)"
        />
      </span>
      <div class="p-toolbar-group-left">
        <button
          pButton
          pRipple
          [rounded]="true"
          class="create-btn"
          (click)="show()"
        >
          Create New Purchse Invoice
        </button>
      </div>
    </div>
  </ng-template>
</p-toolbar>

<div class="table-responsive custom-table col-lg-12 col-md-12 col-sm-12">
  <p-table
    #policyTable
    [loading]="loading"
    [value]="tableData"
    [rowHover]="true"
    dataKey="id"
    [scrollable]="true"
    [paginatorDropdownAppendTo]="'body'"
    scrollHeight="58vh"
    [globalFilterFields]="['voucherNumber', 'status', 'supplierCOALevel04Name']"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Action</th>
        <th pSortableColumn="supplierCOALevel04Name">
          Vendor Name<p-sortIcon field="supplierCOALevel04Name" />
        </th>
        <th pSortableColumn="issueDate">
          Issue Date<p-sortIcon field="issueDate" />
        </th>
        <th pSortableColumn="voucherNumber">
          Voucher Number<p-sortIcon field="voucherNumber" />
          <p-columnFilter type="text" field="voucherNumber" display="menu" />
        </th>
        <th pSortableColumn="referenceNumber">
          Reference Number<p-sortIcon field="referenceNumber" />
          <p-columnFilter type="text" field="referenceNumber" display="menu" />
        </th>
        <th pSortableColumn="taxCOALevel04Name">
          Tax<p-sortIcon field="taxCOALevel04Name" />
        </th>
        <th pSortableColumn="brokerCOALevel04Name">
          Broker<p-sortIcon field="brokerCOALevel04Name" />
        </th>
        <th pSortableColumn="attachedDocuments">
          Attachments<p-sortIcon field="attachedDocuments" />
        </th>
        <th pSortableColumn="status">Status<p-sortIcon field="status" /></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr *ngIf="!loading; else loadingRow">
        <td class="icon-group">
          <a
            *ngIf="item.status == 'PENDING'"
            class="dropdown-item edit"
            (click)="edit(item.id)"
          >
            <i class="fa-solid fa-pencil"></i>
          </a>
          <a
            *ngIf="item.status == 'PENDING'"
            class="dropdown-item delete"
            (click)="delete(item.id)"
          >
            <i class="fa-solid fa-trash"></i>
          </a>
          <a
            *ngIf="item.status == 'PENDING'"
            class="dropdown-item view"
            (click)="approve(item.id)"
          >
            <i class="fa-solid fa-circle-check"></i>
          </a>
          <a
            *ngIf="item.status == 'APPROVED'"
            class="dropdown-item view"
            (click)="viewOnly(item.id)"
          >
            <i class="fa-solid fa-eye"></i>
          </a>
          <a
            *ngIf="item.status == 'APPROVED'"
            class="dropdown-item view"
            (click)="unApprove(item.id)"
          >
            <i class="fa-solid fa-arrow-rotate-left"></i>
          </a>
          <a
            class="dropdown-item delete"
            (click)="downloadReport(item.id); $event.stopPropagation()"
          >
            <i class="fa-regular fa-file-pdf"></i>
          </a>
        </td>
        <td>
          {{ item?.supplierCOALevel04Name }}
        </td>
        <td>
          {{ item?.issueDate | date }}
        </td>
        <td>
          {{ item?.voucherNumber }}
        </td>
        <td>
          {{ item?.referenceNumber }}
        </td>
        <td>
          {{ item?.taxCOALevel04Name }}
        </td>
        <td>
          {{ item?.brokerCOALevel04Name }}
        </td>
        <td>
          <div
            *ngIf="item.attachedDocuments?.length > 0"
            class="attachment-active-box"
          >
            YES
          </div>
          <div
            *ngIf="!item.attachedDocuments?.length"
            class="attachment-deactive-box"
          >
            NO
          </div>
        </td>
        <td>
          <div *ngIf="item.status == 'PENDING'" class="deactive-box">
            {{ item.status }}
          </div>
          <div *ngIf="item.status !== 'PENDING'" class="active-box">
            {{ item.status }}
          </div>
        </td>
      </tr>
    </ng-template>

    <!-- Skeleton Row Template -->
    <ng-template #loadingRow>
      <tr *ngFor="let i of [1, 2, 3, 4, 5]">
        <td>
          <p-skeleton width="30%" height="20px"></p-skeleton>
          <p-skeleton width="30%" height="20px"></p-skeleton>
          <p-skeleton width="40%" height="20px"></p-skeleton>
        </td>
        <td class="icon-group d-flex gap-2">
          <p-skeleton shape="circle" size="2rem"></p-skeleton>
          <p-skeleton shape="circle" size="2rem"></p-skeleton>
          <p-skeleton shape="circle" size="2rem"></p-skeleton>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <div class="paginator-wrapper d-flex justify-content-end mt-3">
    <p-paginator
      [rows]="10"
      [totalRecords]="count"
      (onPageChange)="onPageChange($event)"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[10, 50, 100, count]"
      dropdownAppendTo="body"
      appendTo="body"
    ></p-paginator>
  </div>
</div>

<!-- Modal -->
<p-dialog
  [maximizable]="true"
  [closeOnEscape]="false"
  [header]="
    viewMode
      ? 'View Purchase Invoice'
      : editMode
      ? 'Edit Purchase Invoice'
      : 'Create Purchase Invoice'
  "
  [modal]="true"
  [(visible)]="displayModal"
  [draggable]="false"
  [style]="{ width: '80%' }"
>
  <ng-container>
    <form [formGroup]="PurchaseInvoiceForm">
      <div class="row col-md-12 mt-4">
        <div class="col-md-3 flex flex-column">
          <label class="label-text" for="voucherNumber">Voucher No</label>
          <input
            type="text"
            readonly
            pInputText
            formControlName="voucherNumber"
            id="voucherNumber"
            autocomplete="off"
          />
        </div>
        <div id="inputField" class="col-md-3 flex flex-column">
          <label class="label-text" for="issueDate">Purchase Date</label>
          <p-calendar
            formControlName="issueDate"
            inputId="date"
            appendTo="body"
            [showOnFocus]="true"
            (onSelect)="onDateChange()"
            [showIcon]="true"
            [style]="{ width: '100%' }"
            [(ngModel)]="selectedDate"
          ></p-calendar>
          <div *ngIf="isFieldInvalid('issueDate')" class="text-danger">
            This field is required
          </div>
        </div>

        <div class="col-md-3 flex flex-column">
          <label class="label-text" for="employeeId"
            >Vendor<span class="text-danger">*</span></label
          >
          <p-dropdown
            [options]="supplier"
            optionLabel="name"
            optionValue="id"
            [showClear]="true"
            formControlName="supplierCOALevel04Id"
            id="supplierCOALevel04Id"
            [placeholder]="'Select Vendor'"
            [style]="{ width: '100%' }"
            appendTo="body"
            [filter]="true"
            filterBy="name"
          ></p-dropdown>
          <div
            *ngIf="isFieldInvalid('supplierCOALevel04Id')"
            class="text-danger"
          >
            This field is required
          </div>
        </div>
        <div id="inputField" class="col-md-3 flex flex-column">
          <label class="label-text" for="paymentModeId"
            >Payment Terms <span class="text-danger">*</span></label
          >
          <p-dropdown
            [options]="paymentTerms"
            optionLabel="name"
            optionValue="id"
            [showClear]="true"
            formControlName="paymentModeId"
            id="paymentModeId"
            [placeholder]="'Select Payment Mode'"
            [style]="{ width: '100%' }"
            [filter]="true"
            filterBy="name"
            appendTo="body"
          ></p-dropdown>
          <div *ngIf="isFieldInvalid('paymentModeId')" class="text-danger">
            This field is required
          </div>
        </div>
      </div>
      <div class="row col-lg-12 col-md-12 col-sm-12 mt-3">
        <div id="inputField" class="col-md-3 flex flex-column">
          <label class="label-text" for="referenceNumber">Reference No </label>
          <input
            type="text"
            readonly
            pInputText
            formControlName="referenceNumber"
            id="referenceNumber"
            [style]="{ width: '100%' }"
            autocomplete="off"
          />
        </div>
        <div class="col-md-3 flex flex-column">
          <label class="label-text" for="brokerCOALevel04Id">Broker</label>
          <p-dropdown
            [options]="broker"
            optionLabel="name"
            [style]="{ width: '100%' }"
            optionValue="id"
            [showClear]="true"
            formControlName="brokerCOALevel04Id"
            id="brokerCOALevel04Id"
            [placeholder]="'Select Broker'"
            [filter]="true"
            filterBy="name"
          ></p-dropdown>
        </div>
        <div class="col-md-3 flex flex-column">
          <label class="label-text" for="warehouseId"
            >WareHouse<span class="text-danger">*</span></label
          >
          <p-dropdown
            [options]="wareHouse"
            optionLabel="name"
            [showClear]="true"
            [style]="{ width: '100%' }"
            optionValue="id"
            formControlName="warehouseId"
            appendTo="body"
            id="warehouseId"
            [placeholder]="'Select Warehouse'"
            [filter]="true"
            filterBy="name"
          ></p-dropdown>
          <div *ngIf="isFieldInvalid('warehouseId')" class="text-danger">
            This field is required
          </div>
        </div>
        <div class="col-md-3 flex flex-column">
          <label class="label-text" for="taxCOALevel04Id">Tax</label>
          <p-dropdown
            [options]="tax"
            optionLabel="name"
            optionValue="id"
            [style]="{ width: '100%' }"
            appendTo="body"
            [showClear]="true"
            formControlName="taxCOALevel04Id"
            id="taxCOALevel04Id"
            [placeholder]="'Select Tax'"
            [filter]="true"
            filterBy="name"
          ></p-dropdown>
        </div>
      </div>
      <div class="row col-md-12 mt-3">
        <div id="inputField" class="col-md-3 flex flex-column">
          <label class="label-text" for="logo">Upload Image</label>
          <label for="logo" class="custom-file-upload">
            Choose File <i class="pi pi-upload"></i>
          </label>
          <input
            type="file"
            id="logo"
            formControlName=""
            (change)="onFileSelected($event)"
            accept="image/*"
            multiple
            class="hidden-file-input"
          />
          <!-- Spinner Icon -->
          <ng-container *ngIf="isUploadingImages"
            ><p-progressSpinner
              styleClass="small-spinner"
              strokeWidth="5"
              [style]="{ width: '20px', height: '20px' }"
            ></p-progressSpinner>
          </ng-container>
          <ng-container>
            <i
              *ngIf="isSuccessUpload"
              class="pi pi-check-circle text-green-500"
              style="font-size: 1.4rem; animation: pop 0.4s ease"
            ></i
          ></ng-container>
        </div>
        <div class="preview-btn-margin d-flex flex-row gap-2 col-md-6">
          <button
            pButton
            type="button"
            (click)="imagePreviewModal()"
            class="create-btn"
            [disabled]="isUploadingImages"
          >
            Preview images
          </button>
          <button
            pButton
            type="button"
            (click)="openPurchaseOrder()"
            class="create-btn"
            [disabled]="viewMode"
          >
            Copy Purchase Order
          </button>
        </div>
      </div>
      <br />

      <p-dialog
        [maximizable]="true"
        header="Copy Purchase Order"
        [modal]="true"
        [(visible)]="displayPOModal"
        [draggable]="false"
      >
        <span class="block md:mt-0 p-input-icon-left mb-3">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="onGlobalFilter(requisitionTable, $event)"
            placeholder="Search..."
            style="height: 40px; cursor: pointer"
          />
        </span>
        <div
          class="table-responsive custom-table col-lg-12 col-md-12 col-sm-12"
        >
          <p-table
            [value]="poTableData"
            #requisitionTable
            [loading]="loading"
            [rowHover]="true"
            dataKey="id"
            [scrollable]="true"
            [paginatorDropdownAppendTo]="'body'"
            scrollHeight="58vh"
            [paginator]="true"
            [rows]="10"
            [rowsPerPageOptions]="[10, 25, 50, 100]"
            [globalFilterFields]="['voucherNumber', 'supplierCOALevel04Name']"
          >
            <ng-template pTemplate="header">
              <tr>
                <th style="min-width: 200px" pSortableColumn="id">
                  ID <p-sortIcon field="id" />
                </th>
                <th style="min-width: 200px" pSortableColumn="voucherNumber">
                  Voucher No <p-sortIcon field="voucherNumber" />
                </th>
                <th style="min-width: 200px" pSortableColumn="voucherNumber">
                  Vendor Name <p-sortIcon field="voucherNumber" />
                </th>
                <th style="min-width: 200px" pSortableColumn="issueDate">
                  Issue Date <p-sortIcon field="issueDate" />
                </th>
                <th>Action/></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
              <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.voucherNumber }}</td>
                <td>{{ item.supplierCOALevel04Name }}</td>
                <td>{{ item.issueDate | date : "yyyy-MM-dd" }}</td>
                <td>
                  <button
                    (click)="selectPurchaseOrder(item.id)"
                    pButton
                    pRipple
                    class="create-btn"
                  >
                    Select
                  </button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </p-dialog>
      <div class="row-btn-container">
        <button
          type="button"
          class="add-row-btn"
          (click)="onAddRow()"
          [disabled]="viewMode"
        >
          Add Row
        </button>
        <button
          type="button"
          class="remove-row-btn"
          (click)="onRemoveSelected()"
          [disabled]="viewMode"
        >
          Remove Row
        </button>
      </div>
      <ag-grid-angular
        class="ag-theme-quartz"
        style="height: 300px"
        [rowData]="rowData"
        [columnDefs]="colDefs"
        [rowSelection]="rowSelection"
        [components]="frameworkComponents"
        (cellValueChanged)="onCellValueChanged($event)"
        (gridReady)="onGridReady($event)"
        [singleClickEdit]="true"
      >
      </ag-grid-angular>
      <div class="row col-md-12 mt-4">
        <div id="inputField" class="col-md-6 flex flex-column">
          <label class="label-text" for="total">Total</label>
          <input
            type="number"
            pInputText
            readonly
            formControlName="total"
            id="total"
            autocomplete="off"
          />
          <div *ngIf="isFieldInvalid('total')" class="text-danger">
            This field is required
          </div>
        </div>
        <div id="inputField" class="col-md-6 flex flex-column">
          <label class="label-text" for="remarks">Remarks</label>
          <input
            type="text"
            pInputText
            formControlName="remarks"
            id="remarks"
            autocomplete="off"
          />
          <div *ngIf="isFieldInvalid('remarks')" class="text-danger">
            This field is required
          </div>
        </div>
      </div>
      <div class="row col-md-12 mt-4">
        <div id="inputField" class="col-md-6 flex flex-column">
          <label class="label-text" for="discountPercentage"
            >Discount Percent</label
          >
          <input
            type="number"
            pInputText
            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
            min="0"
            formControlName="discountPercentage"
            id="discountPercentage"
            autocomplete="off"
          />
        </div>
        <div id="inputField" class="col-md-6 flex flex-column">
          <label class="label-text" for="discountAmount">Discount Amount</label>
          <input
            type="number"
            [readOnly]="true"
            pInputText
            formControlName="discountAmount"
            id="discountAmount"
            autocomplete="off"
          />
          <div *ngIf="isFieldInvalid('discountAmount')" class="text-danger">
            This field is required
          </div>
        </div>
      </div>
      <div class="row col-md-12 mt-4">
        <div id="inputField" class="col-md-6 flex flex-column">
          <label class="label-text" for="localExpense">Local Expense</label>
          <input
            type="text"
            pInputText
            formControlName="localExpense"
            id="localExpense"
            autocomplete="off"
          />
          <div *ngIf="isFieldInvalid('localExpense')" class="text-danger">
            This field is required
          </div>
        </div>
        <div id="inputField" class="col-md-6 flex flex-column">
          <label class="label-text" for="builtyExpense">Builty Expence </label>
          <input
            type="text"
            pInputText
            formControlName="builtyExpense"
            id="builtyExpense"
            autocomplete="off"
          />
          <div *ngIf="isFieldInvalid('builtyExpense')" class="text-danger">
            This field is required
          </div>
        </div>
      </div>
      <div class="row col-md-12 mt-4">
        <div id="inputField" class="col-md-6 flex flex-column">
          <label class="label-text" for="veAmount">Vendor Expenses</label>
          <input
            type="number"
            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
            pInputText
            formControlName="veAmount"
            id="veAmount"
            autocomplete="off"
          />
        </div>
        <div id="inputField" class="col-md-6 flex flex-column">
          <label class="label-text" for="viAmount">Vendor Total</label>
          <input
            type="number"
            readonly
            pInputText
            formControlName="viAmount"
            id="viAmount"
            autocomplete="off"
          />
        </div>
        <div
          *ngIf="PurchaseInvoiceForm.get('brokerCOALevel04Id')?.value"
          class="row col-md-12 mt-4"
        >
          <div id="inputField" class="col-md-6 flex flex-column">
            <label class="label-text" for="brokerPercentage"
              >Broker Percentage</label
            >
            <input
              type="text"
              pInputText
              formControlName="brokerPercentage"
              oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
              id="brokerPercentage"
              autocomplete="off"
              (onchange)="poSetupCalculations()"
            />
            <div *ngIf="isFieldInvalid('brokerPercentage')" class="text-danger">
              This field is required
            </div>
          </div>
          <div id="inputField" class="col-md-6 flex flex-column">
            <label class="label-text" for="brokerAmount">Broker Amount</label>
            <input
              type="number"
              oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
              min="0"
              pInputText
              formControlName="brokerAmount"
              id="brokerAmount"
              autocomplete="off"
            />
            <div *ngIf="isFieldInvalid('brokerAmount')" class="text-danger">
              This field is required
            </div>
          </div>
        </div>
        <div class="row col-md-12 mt-4">
          <div
            *ngIf="PurchaseInvoiceForm.get('taxCOALevel04Id')?.value"
            id="inputField"
            class="col-md-6 flex flex-column"
          >
            <label class="label-text" for="tax">Tax</label>
            <input
              type="text"
              pInputText
              oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
              formControlName="tax"
              id="tax"
              autocomplete="off"
            />
            <div *ngIf="isFieldInvalid('tax')" class="text-danger">
              This field is required
            </div>
          </div>
          <div
            *ngIf="PurchaseInvoiceForm.get('taxCOALevel04Id')?.value"
            id="inputField"
            class="col-md-6 flex flex-column"
          >
            <label class="label-text" for="taxAmount">Tax Amount</label>
            <input
              type="number"
              pInputText
              min="0"
              oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
              formControlName="taxAmount"
              id="taxAmount"
              autocomplete="off"
            />
            <div *ngIf="isFieldInvalid('taxAmount')" class="text-danger">
              This field is required
            </div>
          </div>
        </div>
        <div class="row col-md-12">
          <div id="inputField" class="col-md-6 flex flex-column">
            <label class="label-text" for="netTotal">Net Total</label>
            <input
              type="number"
              pInputText
              readonly
              formControlName="netTotal"
              id="netTotal"
              autocomplete="off"
            />
            <div *ngIf="isFieldInvalid('netTotal')" class="text-danger">
              This field is required
            </div>
          </div>
          <div id="inputField" class="col-md-6 flex flex-column">
            <label class="label-text" for="grandTotal">Grand Total</label>
            <input
              type="number"
              pInputText
              readonly
              formControlName="grandTotal"
              id="grandTotal"
              autocomplete="off"
            />
            <div *ngIf="isFieldInvalid('grandTotal')" class="text-danger">
              This field is required
            </div>
          </div>
        </div>
        <div class="row col-md-12 mt-4">
          <div id="inputField" class="col-md-6 flex flex-column">
            <label class="label-text" for="advanceAmount">Advance Amount</label>
            <input
              type="number"
              pInputText
              formControlName="advanceAmount"
              id="advanceAmount"
              autocomplete="off"
            />
            <div *ngIf="isFieldInvalid('advanceAmount')" class="text-danger">
              This field is required
            </div>
          </div>

          <div
            class="d-flex flex-column col-lg-6 col-md-6 col-sm-6"
            *ngIf="PurchaseInvoiceForm.get('advanceAmount')?.value > 0"
          >
            <label class="label-text" for="advanceAmountBankCOALevl04Id"
              >Bank <span class="text-danger">*</span></label
            >
            <p-dropdown
              [options]="advanceAmountCOA"
              optionLabel="name"
              optionValue="id"
              [showClear]="true"
              formControlName="advanceAmountBankCOALevl04Id"
              id="advanceAmountBankCOALevl04Id"
              [placeholder]="'Select Bank'"
              [style]="{ width: '100%' }"
              [filter]="true"
              filterBy="name"
              appendTo="body"
            ></p-dropdown>
            <div
              *ngIf="isFieldInvalid('advanceAmountBankCOALevl04Id')"
              class="text-danger"
            >
              This field is required
            </div>
          </div>
        </div>
      </div>

      <div class="flex gap-1 justify-content-end mt-4">
        <p-button
          (onClick)="displayModal = false"
          label="Cancel"
          [outlined]="true"
          severity="warning"
        />
        <p-button
          [loading]="saving"
          *ngIf="!editMode && !viewMode"
          (click)="save()"
          [disabled]="!PurchaseInvoiceForm.valid"
          label="Save"
          [outlined]="true"
          severity="contrast"
        />
        <p-button
          [loading]="saving"
          *ngIf="editMode && !viewMode"
          (click)="update()"
          [disabled]="!PurchaseInvoiceForm.valid"
          label="Update"
          [outlined]="true"
          severity="contrast"
        />
      </div>
    </form>
  </ng-container>
</p-dialog>
<div>
  <p-toast />
  <p-confirmDialog class="cancel-modal" />
</div>

<p-dialog
  [(visible)]="previewImageModal"
  [header]="previewImageHeader"
  [modal]="true"
  [style]="{ width: '50vw' }"
>
  <!-- ====================== IMAGE LIST TABLE ====================== -->
  <div class="table-responsive custom-table col-lg-12 col-md-12 col-sm-12">
    <p-table
      *ngIf="uploadedImages.length; else emptyState"
      [value]="uploadedImages"
      [rowHover]="true"
      dataKey="url"
      [scrollable]="true"
      scrollHeight="40vh"
    >
      <!-- ─── Header ─────────────────────────────────────────────── -->
      <ng-template pTemplate="header">
        <tr>
          <th>#</th>
          <th pSortableColumn="name">File Name</th>
          <th>Actions</th>
        </tr>
      </ng-template>

      <!-- ─── Body ────────────────────────────────────────────────── -->
      <ng-template pTemplate="body" let-img let-rowIndex="rowIndex">
        <tr>
          <td>{{ rowIndex + 1 }}</td>

          <td>
            <a
              href="#"
              (click)="openInNewTab(img.url); $event.preventDefault()"
            >
              {{ img.name }}
            </a>
          </td>

          <td class="icon-group">
            <a class="dropdown-item delete" (click)="removeImage(rowIndex)">
              <i class="fa-solid fa-trash"></i>
            </a>
          </td>
        </tr>
      </ng-template>

      <!-- ─── Empty Message ───────────────────────────────────────── -->
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="3" class="text-center label-text py-4">
            No images uploaded.
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <!-- ─── Empty / No-Images State (before any upload) ──────────── -->
  <ng-template #emptyState>
    <div class="p-4 label-text text-center">No images uploaded.</div>
  </ng-template>

  <!-- ─── Dialog Footer ─────────────────────────────────────────── -->
  <div class="flex justify-content-end mt-4">
    <button
      (click)="resetForm()"
      pButton
      pRipple
      [rounded]="true"
      class="cancel-btn"
    >
      Cancel
    </button>
  </div>
</p-dialog>
