* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Manrope", sans-serif !important;
}

input {
  border: none;
  border: 1px solid#d1d5db;
  border-radius: 6px;
  font-family: Manrope !important;
  font-size: small !important;
}

input:focus {
  border: 1px solid #32a0ef !important;
  outline: none !important;
  box-shadow: none !important;
}

input:hover {
  border: 1px solid #32a0ef !important;
  outline: none !important;
}

.p-inputtext {
  height: 40px !important;
  align-items: center;
  font-family: Manrope !important;
  font-size: 12px !important;
}

button:focus,
input:focus,
textarea:focus {
  outline: none;
  box-shadow: none;
}

.p-dropdown-panel .p-dropdown-items {
  padding-top: 0px !important;
  padding-left: 0px !important;
}

body {
  font-family: Manrope !important;
}

.sidebar {
  min-height: 90vh !important;
  height: 90vh !important;
  padding-top: 3px !important;
}
.sidebar-container {
  height: 100% !important;
  /* border-radius: 10px !important; */
  overflow: hidden;
}
.sidebar-nav-container {
  overflow-y: auto;
  overflow-x: auto;
  scrollbar-width: none;
  background-color: #fff; /* Hide scrollbar for Firefox */
}

.sidebar-nav-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Edge */
}

/* hide-scroll */
/* Firefox */
.hide-scroll {
  scrollbar-width: none;
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}

.nav-link {
  width: auto !important;
}

.nav-sidebar .nav-item > .nav-link .right {
  position: static !important;
  display: flex;
  justify-content: space-between;
}

.nav-sidebar .menu-open > .nav-link i.right {
  rotate: -90deg !important;
}

.nav-link p {
  display: inline-block !important;
  width: 155px;
  margin-left: 10px;
  margin-bottom: 0px;
  font-size: 14px !important;
  font-weight: 500;
  white-space: nowrap !important;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nav-item-name {
  font-family: Manrope !important;
  font-size: small !important;
  color: #344054;
  margin-left: 10px !important;
}

.fa-angle-up,
.fa-angle-down,
.nav-icon {
  color: #101828;
}

.nav-sidebar .nav-link {
  transition: background-color 0.3s ease, border-radius 0.3s ease;
  border-radius: 8px;
  width: 200px;
}

.nav-sidebar .nav-link:hover {
  background-color: #f2f2f2 !important;
  border-radius: 8px;
  cursor: pointer;
}

.nav-link-collapsed {
  width: 80px;
}

.nav-link-collapsed i {
  margin-left: 8px;
}

.nav-link-border {
  display: none;
}

.nav-link.active > .nav-link-border {
  display: block;
  position: absolute;
  border-left: 4px solid;
  border-color: #32a0ef;
  margin-top: 0px !important;
  height: 44px;
  margin-left: -18px;
  max-width: 1px;
}

.sub-nav-link {
  padding-left: 50px !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.sub-nav-link-collapsed {
  padding-left: 24px !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.sub-nav-link > .sub-link-border {
  position: absolute;
  margin-left: -12px;
  max-width: 1px;
}

.sub-nav-link.active > .sub-link-border {
  position: absolute;
  max-width: 3px;
}

.sub-nav-link.active,
.sub-nav-link-collapsed.active {
  background-color: #f2f2f2 !important;

  .nav-item-name {
    color: #101828 !important;
    font-weight: 600 !important;
  }
}

.sub-nav-link-collapsed.active:hover i {
  color: #101828 !important;
}

.nav > .nav-item > .nav-link {
  padding-left: 0.5rem !important;
  padding-bottom: 0.8rem !important;
  padding-top: 0.8rem !important;
  padding-right: 0 !important;
}

/* Only indent children */
.nav .nav-treeview .nav-item > .nav-link {
  padding-left: 2.5rem !important;
}

/* right-content */
.right-content {
  display: flex;
  flex-direction: column;
  width: 96%;
  height: auto;
  overflow: hidden;
  background: #f4f7fa;
}
.content-inside-app {
  height: auto;
  overflow-y: scroll;
  scrollbar-width: none; /* Hide scrollbar for Firefox */
  background: white;
  margin: 20px 10px;
  border-radius: 20px;
  padding: 0px 10px;
}
.content-inside-app::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Edge */
}

.defaults-integration-box,
.annual-budget {
  padding: 0 24px;
}

.tab-content-box {
  padding-top: 0;
}

/* Header-Bar/profile div-style */
.main-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 27.5px 0 18px;
  width: 100%;
  min-height: 62px;
  background-color: #fff;
  border-bottom: 1px solid #dee2e6;
}

.user-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 22px;
}

.notification-icon {
  position: relative;
}

.notification-count {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -8px;
  left: 10px;
  height: 18px;
  width: 18px;
  border-radius: 100%;
  background-color: #ea5455;
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
}

/* profile-icon */
.nav-user-menu {
  display: flex;
}

.nav-user-link {
  padding: 0 !important;
  margin: 0 0 0 14px !important;
}

.profile-user-info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.profile-user-name {
  font-size: 14px;
  color: #6e6b7b;
  text-transform: capitalize;
}

.profile-user-role {
  font-size: 12px;
  color: #6e6b7b;
  text-transform: capitalize;
}

.dropdown-menu-right {
  padding: 0 !important;
  border-radius: 6px !important;
}

.dropdown-item {
  padding: 10px 12px !important;
  font-family: "Manrope" !important;
  font-size: 13px !important;
  color: black !important;
  display: flex !important;
  align-items: center;
  width: auto !important;
  gap: 8px;
}

.dropdown-menu-right .dropdown-title {
  font-size: 14px;
}

.dropdown-item:hover {
  color: #fff !important;
  background: #32a0ef !important;
}

.edit {
  color: green !important;
  background: rgba(74, 197, 74, 0.247) !important;
  border-radius: 5px !important;
}

.delete {
  color: red !important;
  background: rgba(250, 86, 86, 0.274) !important;
  border-radius: 5px !important;
}

.view {
  color: #32a0ef !important;
  background: #54b3f748 !important;
  border-radius: 5px !important;
}

.report {
  color: #181b1c !important;
  background: #d5097948 !important;
  border-radius: 5px !important;
}

.edit:hover {
  color: #fff !important;
  background: green !important;
}

.delete:hover {
  color: #fff !important;
  background: red !important;
}

.report:hover {
  color: #fff !important;
  background: #80024748 !important;
}

/*change-password/Update pasword */
.change-password {
  .content-header {
    padding: 12px 0px 0 0px !important;
  }

  .password-header-content {
    color: black;
    font-size: 16px;
    font-weight: 600;
  }

  .modal-body {
    height: calc(100vh - 142px);
    padding: 1rem 1rem 0 1rem !important;
  }

  .col-form-label {
    font-weight: 500 !important;
    color: black;
    font-size: 14px;
    padding: 0 !important;
  }

  .content-header .row {
    height: 52px;
    border-bottom: 1px solid #e7e7e7;
    border-radius: 6px 6px 0 0;
    padding: 0 18.5px;
    background-color: transparent;
  }

  .content-header .row .col-6 {
    display: flex;
    align-items: center;
  }

  .card-body {
    padding: 0 !important;
  }
}

.card {
  box-shadow: none !important;
  background-color: #f7f8fb !important;
}

.card-body {
  padding: 0 1rem !important;
}

/* .form-group {
    flex-direction: column;
  } */

.form-control {
  height: 44px !important;
}

/* .card-footer {
    background-color: #FBFBFB !important;
    border-radius: 0 0 6px 6px !important;
    padding: 1.25rem 32px !important;
    display: flex;
    align-items: center;
    justify-content: end;
  } */

.btn-primary {
  font-size: 14px;
  font-weight: 500;
  padding: 10px 45px !important;
  background-color: #019999 !important;
}

/* .updatepassword-content{
    display: flex;
    justify-content: space-between;
    font-size:16px;
    font-weight: 500;
  } */

/* tabs style */
.p-tabview-nav-container {
  background-color: #fff !important;
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link {
  font-family: Manrope !important;
  font-size: small;
  color: black !important;
  background-color: #fff;
  transition: all 0.3s ease;
}

.p-tabview-nav {
  margin-bottom: 0 !important;
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  border-color: #32a0ef !important;
  color: #32a0ef !important;
}

/* 👉 Hover style for inactive tabs */
.p-tabview .p-tabview-nav li:not(.p-highlight) .p-tabview-nav-link:hover {
  color: #32a0ef !important;
  border-color: #32a0ef !important;
  cursor: pointer;
}

/* Attendance present-employee header style */
.present-employee-header,
.absent-employees-header {
  .p-toolbar {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
  }

  .p-calendar {
    width: 100%;
  }

  p-calendar input,
  #inputField .p-inputtext {
    height: 44px;
  }

  .p-button-success {
    height: 44px;
  }

  .p-toolbar-group-right {
    width: 100%;
  }
}

/* .p-toolbar {
    border: none !important;
    background: #F7F8FB !important;
  } */

.p-button-success {
  font-size: 14px;
  font-weight: 600;
  background-color: #019999 !important;
  padding: 10px 32px;
  border-radius: 6px !important;
  border: none;
}

.p-button-success:hover {
  background-color: #32a0ef !important;
}

.p-button.p-button-success.p-button-text {
  color: white;
}

.p-toolbar-group-left div h4,
.tab-name {
  color: black;
  font-size: 16px;
  font-weight: 600;
}

.p-button .p-button-icon-only.p-button-rounded {
  padding: 0px 0px !important;
  padding-bottom: 5px !important;
  height: 28px;
  width: 28px;
}

.th-data {
  display: inline-block;
  vertical-align: middle;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nowrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.no-wrap-header {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 190px;
  max-width: 300px;
}

.icon-group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.active-box {
  height: 24px;
  width: 102px;
  padding: 4px 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 17px;
  background-color: rgba(0, 128, 0, 0.171);
  color: green;
  cursor: pointer;
}

.deactive-box {
  height: 24px;
  width: 102px;
  padding: 4px 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 17px;
  background: rgba(255, 0, 0, 0.26);
  color: red;
  cursor: pointer;
}

.attachment-active-box {
  height: 24px;
  width: 102px;
  padding: 4px 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 17px;
  background-color: rgba(114, 114, 247, 0.281);
  color: blue;
  cursor: pointer;
}

.attachment-deactive-box {
  height: 24px;
  width: 102px;
  padding: 4px 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 17px;
  background-color: rgba(255, 166, 0, 0.308);
  color: rgb(255, 81, 0);
  cursor: pointer;
}

.edit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  height: 28px;
  width: 28px;
  padding: 0 !important;
  cursor: pointer;
  background: #e1f3f3;
  color: #019999;
  border: none;
}

.edit-btn:hover {
  background: #bcffff;
}

.edit-btn .pi {
  height: 16px !important;
  width: 16px !important;
}

.delete-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  height: 28px;
  width: 28px;
  cursor: pointer;
  background: #ffe0e0;
  color: #ff0000;
  border: none;
}

.delete-btn:hover {
  background: #ffbcbc;
}

.delete-btn .pi {
  height: 16px !important;
  width: 16px !important;
}

.pi {
  height: 13px;
  width: 13px;
}

/* pagination */
.p-paginator {
  width: 100%;
  justify-content: flex-start !important;
  background-color: #ffffff;
  border-radius: 10px;
  z-index: 999px !important;
}

.p-paginator .p-paginator-current {
  color: black;
  font-family: Manrope !important;
  font-size: 13px !important;
}

.p-paginator .p-paginator-first {
  margin-left: auto;
  color: #32a0ef;
  background-color: #f3f2f7;
  border-radius: 100%;
}

.p-paginator-pages {
  background: #f3f2f7;
  border-radius: 40px;
  font-family: Manrope !important;
  font-size: 13px !important;
  color: black;
}

.p-paginator .p-paginator-prev:not(.p-disabled):not(.p-highlight):hover,
.p-paginator .p-paginator-next:not(.p-disabled):not(.p-highlight):hover {
  background-color: transparent;
}

.p-paginator .p-paginator-prev,
.p-paginator .p-paginator-next {
  color: #32a0ef;
}

.p-paginator .p-paginator-last {
  color: #32a0ef;
  background-color: #f3f2f7;
  border-radius: 100%;
}

.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  background: #32a0ef;
  border-color: #32a0ef;
  color: #ffffff;
  border-radius: 100%;
}

.p-paginator .p-paginator-pages .p-paginator-page:not(.p-highlight):hover {
  background: transparent;
  border-color: transparent;
  border-radius: 100%;
  color: #374151;
}

.p-paginator .p-dropdown {
  border: 1px solid #ebe9f1;
  color: #374151;
}

.p-dropdown .p-dropdown-trigger {
  color: #32a0ef;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
  color: white;
  background: #32a0ef;
  font-family: Manrope !important;
  font-size: 12px !important;
}

/* .p-dropdown-items-wrapper {
    max-height: 190px !important;
  } */

.p-dropdown-items-wrapper::-webkit-scrollbar {
  display: none;
}

.toggle-icon-collapsed {
  stroke: #32a0ef !important;
}

.toggle-icon {
  stroke: black;
}

.toggle-icon:hover {
  cursor: pointer;
  stroke: #32a0ef !important;
}

/* Scroll */
/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e1f3f3;
  border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c5cad0;
  border-radius: 20px;
}

/* LogIn Page */
.login-img {
  min-height: 290px;
  min-width: 250px;
}

.login-card-body {
  color: #374151 !important;
}

.login-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 486px !important;
  height: 100vh;
  overflow: hidden;
  /* box-shadow: 0px 19px 45px 1px rgba(97, 83, 83, 1); */
  /* min-height: 722px; */
}

.login-dropdown .p-element .p-dropdown {
  width: 100%;
  height: 50px;
}

.rhs-login {
  width: calc(100% - 486px);
  height: 100vh;
  background-color: #f1f3f6;
  /* background-image:url(assets/img/logo.svg);
    background:url(assets/img/logo.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-background-clip: content-box; */
}

.custom-control-label::before {
  top: 2.8px !important;
}

.custom-control-input:checked ~ .custom-control-label::before {
  border-color: #019999 !important;
  background-color: #019999 !important;
}

.custom-control-label::after {
  top: 3.2px !important;
}

.rhs-login .rhs-logo-img {
  opacity: 80%;
}

.rotate-logo {
  animation: rotate-logo 2s linear 2s infinite;
}

@keyframes rotate-logo {
  0% {
    rotate: 180deg;
  }
}

.login-box .input-group-text {
  background: #ff0000 !important;
}

.login-box .input-group-text,
.login-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  background: #71a2d08c !important;
  color: #ffffff;
  border: none;
  border-radius: 8px !important;
}

.login-btn {
  box-shadow: 0px 19px 36px -13px rgba(97, 83, 83, 1);
}

.login-box .input-group-text:hover,
.login-btn:hover {
  background: #3984cb9a !important;
}

.login-box .form-control {
  font-size: 14px;
}

.tenancy-info {
  display: none;
  font-size: 12px;
}

.tenancy-info-icon:hover + .tenancy-info {
  display: flex;
}

.login-dropdown .p-dropdown .p-dropdown-label.p-placeholder {
  color: #6b7280;
  font-size: 14px;
  font-family: Manrope !important;
  font-size: 12px !important;
}

.outline-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px !important;
  height: 50px;
  width: 50px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  background: #ffffff !important;
  color: #ff0000;
  border: 1px solid #ff0000;
}

.outline-btn:hover {
  background: #ffdbdb !important;
}

.login-box .card .form-control {
  height: 50px !important;
  border: none !important;
  background: #f1f3f6;
}

.login-box .card-body {
  padding: 0 26px !important;
}

.or-bar {
  width: 184px;
  height: 1px;
  background: #c2c2c2;
}

.options li:hover {
  background-color: #39f;
  color: rgb(255, 0, 0);
}

.custom-control-input:checked ~ .custom-control-label::before {
  border-color: #ff0000;
  background-color: #ff0000;
  box-shadow: none;
}

/* modal */
.p-dialog .p-dialog-header {
  background: #32a0ef !important;
  color: #fff !important;
  padding: 12px 1.5rem !important;
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.p-dialog .p-dialog-title {
  font-family: Manrope !important;
  font-size: 15px !important;
  font-weight: 700 !important;
}

.p-dialog .p-dialog-header-icon {
  background-color: #ffffff5d !important;
  color: #fff !important;
  border-radius: 10px !important;
  margin-left: 10px !important;
}

.p-dialog .p-dialog-header-icon:hover {
  background-color: #ffffff93 !important;
}

.p-dialog .p-dialog-content {
  padding-top: 15px !important;
  width: auto !important;
}

.p-multiselect:hover {
  border-color: #32a0ef;
}

.p-multiselect:not(.p-disabled).p-focus {
  box-shadow: none;
  border: 1px solid #32a0ef;
}

.p-multiselect .p-multiselect-trigger {
  color: #32a0ef !important;
}

.p-dropdown:not(.p-disabled):hover {
  border-color: #32a0ef;
}

.p-dropdown:not(.p-disabled).p-focus {
  box-shadow: none;
  border: 1px solid #32a0ef;
}

.p-dropdown-panel {
  border: 1px solid #c9c7c7;
  font-family: Manrope !important;
  font-size: 12px !important;
}

/* modal dropdown style */
.one-dropdown {
  max-width: 482px;
}

.one-dropdown-list {
  max-width: 522px;
}

.two-dropdown {
  max-width: 316px;
}

.two-dropdown-list {
  max-width: 336px;
}

.three-dropdown {
  max-width: 160px;
}

.three-dropdown-list {
  max-width: 204px;
}

.generate-btn .p-button {
  color: #ffffff;
  background: #019999;
  border: 1px solid #019999;
  padding: 0.75rem 1.25rem;
  font-size: 14px;
  border-radius: 6px !important;
  outline-color: transparent;
}

.generate-btn .p-button:hover {
  background-color: #32a0ef !important;
}

.generate-salaries-modal {
  .p-dialog .p-dialog-content {
    padding: 12px 1.5rem 5.5rem 1.5rem !important;
  }
}

.employee-resignation-modal,
.employee-bulk-modal,
.edit-employee-modal,
.create-view-employee-modal {
  .p-dialog .p-dialog-content {
    background: #fbfbfb !important;
    color: black !important;
    padding: 12px 0 5.5rem 0 !important;
  }

  .p-dialog-maximized {
    height: 76vh;
    overflow: auto;
  }

  .p-radiobutton .p-radiobutton-box.p-highlight {
    border-color: #019999;
    background: #019999;
  }

  .p-radiobutton .p-radiobutton-box:not(.p-disabled):not(.p-highlight):hover {
    border-color: #019999;
  }
}

.create-view-employee-modal,
.copy-stock-requisition-modal,
.copy-transfer-note-modal {
  .p-dialog .p-dialog-content {
    background: #fbfbfb !important;
    color: black !important;
    padding: 12px 0 1.5rem 0 !important;
  }

  .p-dialog-maximized {
    height: 78vh;
    overflow: auto;
  }
}

/* .p-datepicker table td > span.p-highlight {
  background-color: #e1f3f3;
  color: #019999;
}

.p-datepicker table td.p-datepicker-today > span {
  background: #ffe0e0;
  color: #ff0000;
} */

.project {
  .p-dialog {
    max-height: 92%;
    max-width: 835px !important;
    min-width: 835px !important;
  }

  .p-dialog-maximized {
    -webkit-transition: none;
    transition: none;
    transform: none;
    width: 100vw !important;
    height: 100vh !important;
    top: 0 !important;
    left: 0 !important;
    max-height: 100%;
    min-width: 100% !important;
    height: 100%;
  }
}

/* ProjectCategory */
.projectCategory {
  #inputField .p-inputtext,
  p-calendar input {
    height: 44px !important;
  }

  .p-dialog .p-dialog-content {
    background: #fbfbfb !important;
    color: black !important;
    padding: 12px 1.5rem 5.5rem 1.5rem !important;
  }

  /* .p-checkbox .p-checkbox-box.p-highlight {
    border-color: #019999 !important;
    background: #019999 !important;
  } */
}

/* Projecttype */
.projectType {
  #inputField .p-inputtext,
  p-calendar input {
    height: 44px !important;
  }

  .p-button:focus {
    box-shadow: none !important;
  }

  .p-dialog .p-dialog-content {
    background: #fbfbfb !important;
    color: black !important;
    padding: 12px 1.5rem 5.5rem 1.5rem !important;
  }

  /* .p-checkbox .p-checkbox-box.p-highlight {
    border-color: #019999 !important;
    background: #019999 !important;
  } */
}

/* cancel modal */

/* view-sub-ledger */
.view-sub-ledger {
  .p-dialog .p-dialog-content {
    background: #f7f8fb !important;
    padding: 0 1.5rem 1rem 1.5rem !important;
  }
}

/* defaults-integration-modal */
.defaults-integration-modal {
  .p-dialog {
    max-height: 92%;
    max-width: 835px;
    min-width: 835px;
  }

  .p-button:focus {
    box-shadow: none !important;
  }

  .p-dialog-maximized {
    -webkit-transition: none;
    transition: none;
    transform: none;
    width: 100vw !important;
    height: 100vh !important;
    top: 0 !important;
    left: 0 !important;
    max-height: 100%;
    min-width: 100%;
    height: 100%;
  }

  .modal-btn .p-element .pi {
    height: auto !important;
    width: auto !important;
  }

  .p-dropdown {
    width: 100%;
    height: 48px !important;
  }

  #inputField .p-inputtext,
  p-calendar input {
    height: 48px !important;
  }

  .p-dialog .p-dialog-content {
    background: #fbfbfb !important;
    color: black !important;
    padding: 12px 1.5rem 5.5rem 1.5rem !important;
  }

  .p-inputtext {
    padding: 12px 12px 12px 12px !important;
  }

  .submit .p-button {
    margin-top: auto;
    font-size: 14px;
    font-weight: 600;
    background-color: #019999 !important;
    padding: 10px 32px;
    border-radius: 6px !important;
    border: none;
  }

  .submit .p-button:hover {
    background-color: #32a0ef !important;
  }
}

/* Cost center category */
.costcentercategory {
  .p-dialog .p-dialog-content {
    background: #fbfbfb !important;
    color: black !important;
    padding: 12px 1.5rem 5.5rem 1.5rem !important;
  }

  .p-button:focus {
    box-shadow: none !important;
  }

  /* .p-checkbox .p-checkbox-box.p-highlight {
    border-color: #019999 !important;
    background: #019999 !important;
  } */
}

/* CostCenterMaster */
.costcentermaster {
  #inputField .p-inputtext,
  p-calendar input {
    height: 44px;
  }

  .p-button:focus {
    box-shadow: none !important;
  }

  .p-calendar {
    width: 100%;
  }

  .p-dialog .p-dialog-content {
    background: #fbfbfb !important;
    color: black !important;
    padding: 12px 1.5rem 5.5rem 1.5rem !important;
  }

  .p-dropdown {
    width: 100%;
    height: 44px !important;
  }

  .p-dropdown .p-dropdown-label.p-placeholder {
    padding: 8px 12px !important;
  }

  .costcenter-description {
    width: 100%;
    height: 120px !important;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    background-color: #ffffff;
    font-size: 16px;
    box-shadow: none;
    resize: none;
  }

  .costcenter-description:focus {
    border: 1px solid #019999;
  }

  /* .p-checkbox .p-checkbox-box.p-highlight {
    border-color: #019999 !important;
    background: #019999 !important;
  } */
}

.levelone,
.leveltwo,
.levelthree,
.linkwith,
.accounttype,
.city,
.country,
.province,
.vendortype,
.createstockunit,
.location,
.active-box,
.taxsection {
  .p-dialog {
    max-width: 835px;
    min-width: 835px;
  }

  .p-button:focus {
    box-shadow: none !important;
  }

  .p-dialog-maximized {
    -webkit-transition: none;
    transition: none;
    transform: none;
    width: 100vw !important;
    height: 100vh !important;
    top: 0 !important;
    left: 0 !important;
    max-height: 100%;
    min-width: 100%;
    height: 100%;
  }

  .modal-btn .p-element .pi {
    height: auto !important;
    width: auto !important;
  }

  .modal-btn .p-element .pi {
    height: auto !important;
    width: auto !important;
  }

  .p-button:focus {
    box-shadow: none !important;
  }

  #inputField .p-inputtext,
  p-calendar input {
    height: 44px !important;
  }

  .p-dropdown {
    width: 100%;
    height: 48px !important;
  }

  /* .p-checkbox .p-checkbox-box.p-highlight {
    border-color: #019999 !important;
    background: #019999 !important;
  } */

  /* .p-dropdown .p-dropdown-label.p-placeholder {
      padding: 8px 12px !important;
    } */
  .p-dialog .p-dialog-content {
    background: #fbfbfb !important;
    color: black !important;
    padding: 12px 1.5rem 5.5rem 1.5rem !important;
  }

  .p-dialog .p-dialog-content .p-overlay {
    left: -10px;
  }
}

/* .leveltwo{
    .p-dialog {max-width: 60% !important;
      min-width: 60% !important;}
  }
  .levelthree {
    .p-dialog {
      max-width: 50% !important;
    }
  } */

.p-button.p-button-contrast.p-button-outlined {
  font-size: 14px;
  font-weight: 600;
  background-color: #019999 !important;
  height: 100%;
  color: #ffffff;
  padding: 10px 32px;
  border-radius: 6px !important;
  border: none;
}

.p-button.p-button-contrast.p-button-outlined:hover {
  background-color: #32a0ef !important;
}

.p-button.p-button-warning.p-button-outlined {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px !important;
  height: 41px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  background: #ffffff !important;
  color: #ff0000;
  border: 1px solid #ff0000;
}

.p-button.p-button-warning.p-button-outlined:hover {
  background: #ffdbdb !important;
}

.modal-footer {
  background: #fbfbfb !important;
  padding: 16px 1.5rem;
  border-top: 1px solid #dbdbdb !important;
}
/* 
.backup-checkbox .p-checkbox .p-checkbox-box.p-highlight {
  border-color: #019999 !important;
  background: #019999 !important;
} */

/* Action-dropdown-style */
.action-dropdown-menu {
  background-color: #ffffff;
  border: 1px solid #cecece;
  color: black;
  font-size: 12px;
  border-radius: 6px;
}

.action-dropdown-menu .action-dropdown-item {
  cursor: pointer;
  width: 100%;
  min-width: 120px;
  max-width: 200px;
  padding: 10px 12px;
  font-weight: 600;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.action-dropdown-item:hover {
  background-color: #e1f3f3;
  color: #019999;
}

/* bulk-edite */
#choose-file[type="file"] {
  display: none;
}

.custom-choose-file {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  height: 41px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  background: #e1f3f3;
  color: #019999;
  border: 1px solid #019999;
  padding: 6px 12px;
  cursor: pointer;
}

.custom-choose-file:hover {
  background: #bcffff;
}

.upload-btn .p-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  font-size: 14px;
  font-weight: 600;
  background-color: #019999 !important;
  color: white;
  height: 41px;
  padding: 10px 16px;
  border-radius: 6px !important;
  border: none;
  box-shadow: none;
}

.upload-btn .p-button:hover {
  background-color: #32a0ef !important;
}

.sidebar-logo {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  font-size: 14px;
  font-family: "Manrope";
  font-weight: 500;
  cursor: pointer;
  color: #000000;
  background-color: #fff;
  /* border-bottom: 1px solid #e4e7ec !important;
  margin-bottom: 0.5rem; */
}

.p-toolbar {
  background-color: #fff !important;
  border: none !important;
}

h3 {
  color: black !important;
  font-family: Manrope !important;
  font-size: large !important;
  font-weight: 700 !important;
}

.p-tabview-panels {
  padding: 0%;
  padding-right: 10px !important;
}

.label-text {
  font-family: Manrope !important;
  font-size: small !important;
  color: black !important;
}

.custom-table {
  overflow: auto;

  table {
    thead {
      tr {
        th {
          border-top: 0;
          font-size: 13px !important;
          border-bottom: 1px solid #e1e1e1;
          color: #0a072b !important;
          font-family: "Manrope" !important;
          font-weight: 700 !important;
        }
      }
      .table-fixed {
        position: sticky;
        top: -8px;
        z-index: 10;
      }
    }

    tbody {
      .no-data-found {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 10px;
        font-size: 15px;
        font-weight: 500;
        font-family: "Manrope" !important;
      }

      .odd-row {
        .three-dots {
          background: #ebf5fd;
        }
      }

      tr {
        &:nth-of-type(odd) {
          background-color: #ebf5fd;
        }

        td {
          font-size: 12px;
          color: #494949 !important;
          font-weight: 300;
          font-family: "Manrope" !important;
          box-shadow: none;
          border-top: 0;
          line-height: 1;
          vertical-align: middle;
          word-wrap: break-word;

          &:first-child {
            border-radius: 5px 0 0 5px;
          }

          &:last-child {
            border-radius: 0 5px 5px 0;
          }

          .three-dots {
            background: var(--white-clr);
            border: 0;
            border-radius: 4px;
            padding: 6px 10px;
          }
        }
      }
    }
  }
}

.p-datatable .p-datatable-sm .p-datatable-tbody > tr > td {
  padding: 0.5rem 0.7rem !important;
  font-family: Manrope !important;
}

.p-datatable .p-datatable-wrapper {
  border-radius: 10px !important;
}

.ag-styling-cell {
  font-size: 12px;
  color: #494949 !important;
  font-weight: 300;
  font-family: "Manrope" !important;
}

.ag-list-item {
  font-family: Manrope !important;
  font-size: 12px !important;
}

.ag-center-cols-viewport {
  font-family: Manrope !important;
  font-size: 12px !important;
}

.ag-header-name {
  background-color: #f9fafb;
  font-size: 13px !important;
  font-weight: 700 !important;
  color: #0a072b !important;
  font-family: "Manrope" !important;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem; /* adjust vertical spacing */
}

/* P-ToolTip */
.p-tooltip > .p-tooltip-text {
  font-family: "Manrope" !important;
  font-size: 13px !important;
  border-radius: 6px !important;
  max-width: 400px !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important;
}

.p-tooltip {
  width: 200px !important;
}

/* Cancel Modal */
.cancel-modal {
  .p-confirm-dialog .p-dialog-content {
    flex-direction: row;
    gap: 12px;
    background: #fbfbfb !important;
    color: black !important;
  }

  .p-dialog {
    min-width: 405px;
  }

  .p-dialog-content .pi {
    height: 32px !important;
    width: 32px !important;
    color: #ff0000;
  }

  .p-dialog .p-dialog-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background-color: #fbfbfb !important;
  }

  .p-dialog.p-confirm-dialog .p-confirm-dialog-message {
    font-family: Manrope !important;
    font-size: 15px !important;
    margin-left: 0;
  }

  .p-confirm-dialog-reject {
    background-color: #32a0ef;
    font-family: Manrope !important;
    font-size: small !important;
    color: #fff !important;
    border-radius: 10px;
    border-color: transparent !important;
    height: 40px;
    transition: background-color 0.3s ease;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .p-confirm-dialog-reject:hover {
    background-color: #32a0efa9;
    border: 1px solid #32a0ef !important;
  }

  .p-confirm-dialog-accept {
    background-color: red;
    font-family: Manrope !important;
    font-size: small !important;
    color: #fff !important;
    border-radius: 10px;
    border-color: transparent !important;
    height: 40px;
    transition: background-color 0.3s ease;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .p-confirm-dialog-accept:hover {
    background-color: rgba(255, 0, 0, 0.486);
    border: 1px solid red !important;
  }

  .p-button-label {
    flex-grow: 0;
  }
}

.p-dialog-item-category {
  width: 1060px;
}

.bulk-upload-btn {
  display: flex;
  justify-content: end;
  gap: 5px;
}

.bulk-upload-labels {
  display: flex;
  align-items: center;
  gap: 5px;
}

.upload-area {
  font-family: Manrope !important;
  font-size: 12px;
  border: 2px dashed #32a0ef;
  background-color: #ffffff;
  color: black;
  padding: 40px;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  max-width: 500px;
  margin: auto;
  transition: background 0.3s ease;
}

.upload-area:hover {
  background-color: #32a0ef;
  color: white;
  .browse-button {
    background: #fff;
    color: black;
  }
}

.upload-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.upload-icon {
  font-size: 48px;
  margin-bottom: 10px;
}

.browse-button {
  font-family: Manrope !important;
  font-size: 12px;
  margin-top: 10px;
  padding: 8px 16px;
  background: #32a0ef;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.p-datatable .p-datatable-loading-overlay {
  background: transparent !important;
  z-index: 0 !important;
  pointer-events: none !important;
}

.p-datatable .p-datatable-loading-icon {
  display: none !important;
}

.row-btn-container {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
  margin-bottom: 10px;
  padding-left: 8px;
}

.add-row-btn {
  background-color: #32a0ef;
  font-family: Manrope !important;
  font-size: small !important;
  color: #fff !important;
  border-radius: 10px;
  border-color: transparent !important;
  height: 40px;
  transition: background-color 0.3s ease;
  width: 100px;
}

.add-row-btn:hover {
  background-color: #32a0efa9;
  border: 1px solid #32a0ef !important;
}

.remove-row-btn {
  background-color: red;
  font-family: Manrope !important;
  font-size: small !important;
  color: #fff !important;
  border-radius: 10px;
  border-color: transparent !important;
  height: 40px;
  transition: background-color 0.3s ease;
  width: 100px;
}

.remove-row-btn:hover {
  background-color: rgba(255, 0, 0, 0.486);
  border: 1px solid red !important;
}

.create-btn,
.save-btn,
.update-btn {
  background-color: #32a0ef;
  font-family: Manrope !important;
  font-size: small !important;
  color: #fff !important;
  border-radius: 10px;
  border-color: transparent !important;
  height: 40px;
  transition: background-color 0.3s ease;
  width: auto;
}

.create-btn:hover,
.save-btn:hover,
.update-btn:hover {
  background-color: #32a0efa9;
  border: 1px solid #32a0ef !important;
}

.cancel-btn {
  background-color: red;
  font-family: Manrope !important;
  font-size: small !important;
  color: #fff !important;
  border-radius: 10px;
  border-color: transparent !important;
  height: 40px;
  transition: background-color 0.3s ease;
  width: auto;
}

.cancel-btn:hover {
  background-color: rgba(255, 0, 0, 0.486);
  border: 1px solid red !important;
}

.modal-btn-container {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

.astrik-star {
  color: red;
}

.p-multiselect-items-wrapper .p-multiselect-items .p-element {
  font-size: 13px !important;
  font-family: Manrope !important;
}

.p-multiselect-label-container {
  font-size: 13px !important;
  font-family: Manrope !important;
}

.p-multiselect-empty-message {
  font-size: 13px !important;
  font-family: Manrope !important;
}

.p-checkbox .p-checkbox-box.p-highlight {
  background: #32a0ef !important;
  border-color: #32a0ef !important;
}

.p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month {
  font-size: 14px !important;
  font-family: Manrope !important;
}

.p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-year {
  font-size: 14px !important;
  font-family: Manrope !important;
}

.p-datepicker .p-monthpicker .p-monthpicker-month {
  font-size: 14px !important;
  font-family: Manrope !important;
}

.p-datepicker .p-datepicker-header .p-datepicker-title {
  font-size: 14px !important;
  font-family: Manrope !important;
}

.p-datepicker .p-yearpicker .p-yearpicker-year {
  font-size: 14px !important;
  font-family: Manrope !important;
}

.p-datepicker table th {
  font-size: 14px !important;
  font-family: Manrope !important;
}

.p-datepicker table td {
  font-size: 14px !important;
  font-family: Manrope !important;
}

.p-calendar .p-inputtext {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.p-button.p-button-icon-only {
  background-color: #32a0ef !important;
  height: 40px;
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}

.p-datepicker table td.p-datepicker-today > span.p-highlight {
  background: #32a0ef !important;
  color: #fff !important;
}

.p-datepicker table td > span:hover {
  background: #32a0ef !important;
  color: #fff !important;
}

.p-datepicker table td > span.p-highlight {
  background: #32a0ef !important;
  color: #fff !important;
}

.cursor-pointer {
  padding-left: 8px;
}

.attendance-toolbar {
  margin-bottom: 10px;
  height: 100px;
}

.search-button {
  background-color: #32a0ef;
  color: #fff !important;
  font-family: Manrope !important;
  font-size: small !important;
  border-radius: 10px;
  border-color: transparent !important;
  height: 40px;
  transition: background-color 0.3s ease;
  width: auto;
}
.search-text-gap {
  margin-right: 10px;
}

.form-container {
  display: flex;
  align-items: flex-end;
  gap: 1rem; /* Add spacing between elements */
}

.absent-dates-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(80px, 1fr)
  ); /* Creates a responsive grid */
  gap: 5px; /* Adds space between grid items */
}

.absent-date {
  background-color: red;
  color: white;
  font-weight: bold;
  padding: 5px;
  text-align: center;
  border-radius: 4px;
  display: inline-block;
}

.custom-file-upload {
  display: inline-block;
  padding: 8px 20px;
  cursor: pointer;
  border-radius: 5px;
  height: 40px;
  background-color: #fff;
  color: #6b7280;
  font-family: "Manrope" !important;
  font-size: small !important;
  transition: background-color 0.3s ease;
  border: 1px solid #d5d9de;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-file-upload:hover {
  background-color: #32a0ef;
  color: #fff;
  border: #32a0ef;
}

.hidden-file-input {
  display: none;
}

.preview-btn-margin {
  margin-top: 27px !important;
}

/* Desktop (default) */
sidebar {
  transition: all 0.3s ease-in-out;
}

/* Mobile overlay */
@media (max-width: 768px) {
  sidebar {
    position: fixed;
    top: 62px;
    left: 0;
    height: 100%;
    background: #fff;
    z-index: 1000;
    width: 100% !important; /* expanded width */
    transform: translateX(-100%); /* hidden */
    transition: transform 0.3s ease-in-out;
  }

  sidebar.expanded {
    transform: translateX(0); /* slide in */
  }

  .right-content {
    flex: none;
    width: 100%;
  }
}
